@font-face {
    font-family: 'neon'; 
    src: url('../ressources/fonts/clip.regular.ttf');
}
@font-face {
    font-family: 'plasmatica-bold'; 
    src: url('../ressources/fonts/plasmatica.bold.ttf');
}
@font-face {
    font-family: 'plasmatica-open';
    src: url('../ressources/fonts/plasmatica.open.ttf');
}
@font-face {
    font-family: 'plasmatica-regular';
    src: url('../ressources/fonts/plasmatica.regular.ttf');
}
@font-face {
    font-family: 'plasmatica-outline';
    src: url('../ressources/fonts/plasmatica.outline.ttf');
}
@font-face {
    font-family: 'plasmatica-shaded';
    src: url('../ressources/fonts/plasmatica.shaded.ttf'); 
}
@font-face {
    font-family: 'screaming-neon';
    src: url('../ressources/fonts/screaming_neon.ttf');
}


body {
    margin:0;
    width:100%;
    background-color: rgb(204, 35, 35); 
    /* background: rgb(228,97,226); */
    background: linear-gradient(90deg, rgba(228,97,226,1) 0%, rgba(182,70,154,1) 50%, rgba(255,83,0,1) 100%);
    background-image: url("../ressources/images/a2.jpg"); 
    background-repeat: true; 
    /* display: flex; */
   
}


.header {
    position: sticky;
    top: 0;
    z-index: 49;
    display:inline;
    
    padding-top: 1%;
    padding-bottom:1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family:'plasmatica-open';
    font-size: 2vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: linear-gradient(135deg, rgba(182,105,169,1) 0%, rgba(111,8,8,1) 31%, rgba(19,72,168,1) 65%, rgba(182,105,169,1) 100%);
}

#title-title {  /* faire un degrade de couleurs sur le titre*/
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

#title {
    border-style: none;
    outline:none;
    border-radius: 3vw;
    padding:1%;
    border-color: #14dcdc;
    font-size:3vw;
    box-shadow: 0 0 65px #14dcdc;
    background-color: black;
    /* width: 45%; */
    align-content: center;
}

.abcd {
    padding-inline: 2%;
    padding-top:7%; 
    padding-bottom:2%; 

    display: flex;
    justify-content: space-around ;
    font-size: 3vw; 
    font-family: 'screaming-neon';
}



.efgh {
    padding-inline: 2%;
    padding-bottom:20%; 
    display: flex;
    justify-content: space-around ;
    font-size: 2vw; 
    font-family: 'screaming-neon';
}


.CARTEBLEUE, .CARTEPERSO {
    padding:2%
}

#c{
    height: 2vw;
    width: 15vw;
    font-size: 1.5vw;
    border:none;
    border-radius: 1vw;
    /* background: (0,0,0,0.5); */
    /* visibility: hidden; */
    /* size: 5vw; */
}

